@import "tailwindcss";

@font-face {
    font-family: Nunito;
    src: url("./fonts/Nunito.ttf");
}
*{
    font-family: Nunito;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}
